[Unit]
Description=Sensor App service
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/app
ExecStart=/usr/local/bin/uwsgi --ini web.ini
Type=idle
Restart=always

[Install]
WantedBy=multi-user.target
