[Unit]
Description=Sensor Loop service

[Service]
User=pi
WorkingDirectory=/home/pi/app
ExecStart=/usr/bin/python3 main.py
Type=idle
Restart=always

[Install]
WantedBy=multi-user.target
