[Unit]
Description=Sensor App service
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/app
ExecStart=/usr/local/bin/uwsgi --ini web.ini

StandardOutput=null
Type=idle

[Install]
WantedBy=multi-user.target
