[Unit]
Description=Sensor Loop service

[Service]
User=pi
WorkingDirectory=/home/pi/app
ExecStart=/usr/bin/python3 main.py
StandardOutput=null
Type=idle

[Install]
WantedBy=multi-user.target
