<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Rasp Weather Station</title>
    <link rel="stylesheet" href='/static/bulma.min.css' />
    <link rel="stylesheet" href='/static/main.css' />
    <link rel="stylesheet" href='/static/c3.min.css' />
    <script src="/static/d3.v5.min.js" charset="utf-8"></script>
    <script src="/static/c3.min.js"></script>
    <script src="/static/app.js"></script>
  </head>
  <body>
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container is-fluid">
          <h1 class="title">
            Rasp Weather Station
          </h1>
        </div>
      </div>
    </section>

    <section class="has-background-light">
      <div class="container is-fluid">
        <div class="p-3">
          <table class="table has-background-light">
            <tr>
              <th>Time</th>
              <td>{{ data[1] }}</td>
              <th>Ext Temp</th>
              <td>{{ data[2] }}C</td>
              <th>Brightness</th>
              <td>{{ data[3] }}</td>
              <th>Int Temp</th>
              <td>{{ data[4] }}C</td>
              <th>Bar Temp</th>
              <td>{{ data[5] }}C</td>
              <th>Humidity</th>
              <td>{{ data[6] }}%</td>
              <th>Pressure</th>
              <td>{{ data[7] }}hPa</td>
              <th>Motion</th>
              <td>{{ data[8] }}</td>
            </tr>
          </table>
        </div>

      </div>
    </section>

    <main role="main" class="container is-fluid">
      <h2 class="title">Last hour</h2>
      <div class="columns">
        <div class="column is-one-third">
          <div class="p-3">
            <div id="temperature-chart-last-hour"></div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="p-3">
            <div id="humidity-chart-last-hour"></div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="p-3">
            <div id="pressure-chart-last-hour"></div>
          </div>
        </div>
      </div>

      <h2 class="title">Last 24 hours</h2>
      <div class="columns">
        <div class="column is-one-third">
          <div class="p-3">
            <div id="temperature-chart-last-24-hours"></div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="p-3">
            <div id="humidity-chart-last-24-hours"></div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="p-3">
            <div id="pressure-chart-last-24-hours"></div>
          </div>
        </div>
      </div>

    </main>
</html>
